/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* setting up the root variable */
:root{
    font-size: 16px;
    --error-color: red;
    --correct-color: green;
}

:root{
    --primary-color: white;
    --secondary-color: #F9FBFC;
    --highlighted-text-color: white;
    --text-color: black;
    --img-invert: 0%;
    --button-background: #2E8B57;
    --shade: #F7FBFE;
}

/* changing the default styling */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', 'Times New Roman', Times, serif;
}



.flex-container{
    display: flex;
}

.flex-direction-col{
    flex-direction: column;
}

body{
    color: var(--text-color);
    background: var(--secondary-color);
}

/* aside div styling */

aside{
    width: 40vw;
    height: 100vh;
    background: url("./assets/Pictures/Nepal-Elephant-Img.jpg") center/cover no-repeat;
    background-position: -100px;
    justify-content: center;
    align-items: center;
    color: var(--highlighted-text-color);
    position: relative;
}


.aside-buttons{
    position: absolute;
    right: 30px;
    top: 30px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.aside-buttons button{
    font-size: 1rem;
    color: var(--highlighted-text-color);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: rgba(255, 255, 255, 0);
}


.aside-buttons button:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
}


aside h1{
    font-size: 4rem;
}

.header p{
    color: grey;
}



/* main div styling */

.main-container{
    background: var(--primary-color);
    width: 60vw;
    height: 100vh;
}

.header,form{
    padding: 100px;
}

.header{
    padding-bottom:50px ;
}
.header h1{
    font-size: clamp(2rem, 5vw, 2.5rem);
}

.header p{
    font-size: clamp(1rem, 5vw, 1.2rem);
}

/* form styling */

form{
    width: 60%;
    gap: 20px;
    padding-top: 0px;
}

fieldset{
    width: 100%;
    gap: 20px;
    border: 0px;
}

fieldset > div{
    gap: 10px;
}

fieldset div div{
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    gap: 10px;
    flex: 1;
    color: grey;
}

.input-area-container{
    border: 1px solid var(grey);
    background: var(--primary-color);
}

input {
    background-color: var(--primary-color);
    font-size: 1rem;
    border: 0px;
    color: var(--text-color);
    padding: 5px;
}

input:focus{
    outline: none;
    border: 1px solid grey;
}

#gender{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 0px;
}


form fieldset:first-child div:first-child p{
    font-size: 1.5rem;
    font-weight: 400;
}


.create-btn-con{
    width: 100%;
    height: 100%;
}

.create-btn-con button{
    width: 100%;
    padding: 10px;
    background: var(--text-color);
    color: var(--primary-color);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}




/* @media query for responsiveness */


@media (max-width: 800px){
    body{
        flex-direction: column;
    }

    aside{
        background-position: 0px;
        height: 30vh;
        width: 100vw;
    }

    .main-container{
        width: 100vw ;
        padding: 0px;
        margin-top: 10px;
    }

    .form-container{
        width: 100vw;
    }

    form{
        width: 100%;
        padding: 40px;
    }
    .header{
        padding: 10px;

    }

    
    fieldset div{
        flex-direction: column;
        width: 80vw;
    }

    .create-btn-con button{
        width: 85vw;
    }
}


/* auto detects users dark/light mode */

@media (prefers-color-scheme: dark){

    :root{
    --primary-color: black;
    --secondary-color: #0D1117;
    --highlighted-text-color: white;
    --text-color: white;
    --img-invert:100%;
    --button-background: #22543D;
    --shade: #1B1D1E;
}

}